<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Forget</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
        <style>
            table {
                font-family: 'Poppins', sans-serif;
            }
            .img-main {
                margin-bottom: 20px;
            }
            .title {
                font-size: 37px;
                color: #fff;
                margin: 0;
                margin-bottom: 20px;
            }
            .text {
                font-size: 22px;
                color: #fff;
                margin: 0;
                margin-bottom: 20px;
            }
            .btn {
                text-transform: uppercase;
                color: #fff;
                background-color: #F8A696;
                border-radius: 30px;
                padding: 12px 30px;
                border: 0;
                font-size: 17px;
                margin: 10px auto;
                display: inline-block;
                margin-top: 30px;
                font-weight: 600;
                text-decoration: none;
            }
            .footer tr {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .social td a {
                margin: 0 5px;
                width: 50px;
                height: 50px;
                display: block;
            }
            .text-small {
                color: #fff;
            }
        </style>
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tr>
                <td valign="top">
                    <table cellpadding="20" cellspacing="0" width="600" bgcolor="#164c92" style="background:linear-gradient(90deg, #4051D1 0%, #3688D9 100%); margin: 0 auto; text-align: center;">
                        <tr>
                            <td valign="top" style="padding: 50px;">
                                <img src="<%= assetsUrl %>/images/email-1.png" class="img-main">

                                <h2 class="title">Forgot your password?</h2>
                                <p class="text">That's okay, it happens! Click on the button below to reset your password.</p>
                                <a href="<%= resetUrl %>" class="btn">Reset your password</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <p class="text">Hi <%= name %>, </p> 

                                <p class="text-small">We received your request for a password change on your Dabadu account.
                                 Your new password must: </p>

                                <ul class="text-small">
                                    <li>Contain 8-36 characters</li>
                                    <li>Contain at least one mixed-case letter</li>
                                    <li>Contain at least one number</li>
                                    <li>Not be the same as your Screen Name</li>
                                </ul>

                                <p class="text-small">This link will expire in 48 hours. After that, you’ll need to submit a new request in order to reset your password. If you don’t want to reset it, simply disregard this email.</p>
                                <p class="text-small">If you need more help or believe this email was sent in error. Feel free to contact-us.</p>
                                
                                <p class="text-small">Thanks! <br />

                                Dabadu </p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff;">
                            <td style="padding: 0;">
                                <table class="footer" width="100%">
                                    <tr>
                                        <td>
                                            <img src="<%= assetsUrl %>/images/dabadu.png">
                                        </td>
                                        <td>
                                            <table class="social">
                                                <tr>
                                                    <td>
                                                        <a href="https://twitter.com/DabaduInc" target="_blank"><img src="<%= assetsUrl %>/images/twitter.png"></a>
                                                    </td>
                                                    <td>
                                                        <a href="http://facebook.com/DabaduInc/" target="_blank"><img src="<%= assetsUrl %>/images/facebook.png"></a>
                                                    </td>
                                                    <td>
                                                        <a href="https://www.linkedin.com/company/dabadu-ai/" target="_blank"><img src="<%= assetsUrl %>/images/linkedin.png"></a>
                                                    </td>
                                                    <td>
                                                        <a href="https://www.instagram.com/dabadu.ca/" target="_blank"><img src="<%= assetsUrl %>/images/instagram.png"></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>