<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <style>
        table {
            font-family: 'Poppins', sans-serif;
        }

        .img-main {
            margin-bottom: 20px;
        }

        .title {
            font-size: 37px;
            color: #fff;
            margin: 0;
            margin-bottom: 20px;
        }

        .text {
            font-size: 22px;
            color: #fff;
            margin: 0;
            margin-bottom: 20px;
        }

        .btn {
            text-transform: uppercase;
            color: #fff;
            background-color: #F8A696;
            border-radius: 30px;
            padding: 12px 30px;
            border: 0;
            font-size: 17px;
            margin: 10px auto;
            display: block;
            margin-top: 30px;
            font-weight: 600;
        }

        .footer tr {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .social td a {
            margin: 0 5px;
            width: 50px;
            height: 50px;
            display: block;
        }

        .userPwd p {
            font-size: 16px;
            color: #fff;
        }

        .userPwd p a {
            font-size: 18px;
            color: #fff;
        }

        .userPwd p span {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td valign="top">
                <table cellpadding="20" cellspacing="0" width="600" bgcolor="#164c92"
                    style="background:linear-gradient(90deg, #4051D1 0%, #3688D9 100%); margin: 0 auto; text-align: center;">
                    <tr>
                        <td valign="top" style="padding: 50px;">
                            <img src="<%= assetsUrl %>/images/email-2.png" class="img-main">

                            <h2 class="title">Welcome</h2>
                            <p class="text">Hi! <%= name %>, you were enrolled by your employer please find your Login
                                    Credentials</p>
                            <div class="userPwd">
                                <p>Login Link: <a href="<%= baseUrl %>" class="">
                                    <%= baseUrl %>
                                </a></p>
                                <p>Username: <a href="#" class="">
                                        <%= username %>
                                    </a></p>
                                <p>Password: <span class="">
                                        <%= password %>
                                    </span></p>
                            </div>
                        </td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td style="padding: 0;">
                            <table class="footer" width="100%">
                                <tr>
                                    <td>
                                        <a href="<%= baseUrl %>" target="_blank"> <img src="<%= assetsUrl %>/images/dabadu.png"></a>
                                    </td>
                                    <td>
                                        <table class="social">
                                            <tr>
                                                <td>
                                                    <a href="https://twitter.com/DabaduInc" target="_blank"><img
                                                            src="<%= assetsUrl %>/images/twitter.png"></a>
                                                </td>
                                                <td>
                                                    <a href="http://facebook.com/DabaduInc/" target="_blank"><img
                                                            src="<%= assetsUrl %>/images/facebook.png"></a>
                                                </td>
                                                <td>
                                                    <a href="https://www.linkedin.com/company/dabadu-ai/"
                                                        target="_blank"><img
                                                            src="<%= assetsUrl %>/images/linkedin.png"></a>
                                                </td>
                                                <td>
                                                    <a href="https://www.instagram.com/dabadu.ca/" target="_blank"><img
                                                            src="<%= assetsUrl %>/images/instagram.png"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>